<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
        <title>Search Results - Brandon's Website</title>
        <link rel="icon" type="image/x-icon" href= "{{ url_for('static',filename='favicon.png') }}">    
    </head>
    <body>
        Temporary Results Page
        For now, repeats input from search.html twice
        {{value}}
        <nav>
            <flexbox>
                <div class = navmenu onclick = 'location.href = "/"'>Home</div>
                <div class = navmenu onclick = 'location.reload()'>Refresh</div>
                <div class = navmenu>Projects</div>
            </flexbox>
        </nav>
    </body>
</html>